

<h1>KKPOKER内AOFをナッシュ均衡に沿って全自動でプレイするbotを作りました。この動画は AOFbotの実装動画です。</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/6Xbdr2BU1rg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>