<!DOCTYPE html>
<html>
  <head>
  <%= display_meta_tags site: 'KKAOFbot購入', title: @title, description: @description, keywords: @keywords %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
